<h1>Select a crust type</h1>

<form class="" action="sauce" method="post">
    <div class="box">
      <input type="radio" name="crust" value="regular" required> Regular <br>
      <input type="radio" name="crust" value="thin" required> Thin <br>
      <input type="radio" name="crust" value="thick" required> Thick <br>
    </div>
    <br>
        <input type="submit" value="Continue">
</form>
