<h1>Select a crust type</h1>

<form class="" action="sauce" method="post">
    <div class="box">
      <input type="radio" name="crust" value="regular" required id="regular"><label for="regular"> Regular </label><br>
      <input type="radio" name="crust" value="thin" required id="thin"><label for="thin"> Thin </label><br>
      <input type="radio" name="crust" value="thick" required id="thick"><label for="thick"> Thick </label><br>
    </div>
    <br>
        <input type="submit" value="Continue">
</form>
