<h1>Your order so far...</h1>
<div class="center">
<%count = 1%>
<% session[:full_order].each do |order| %>
<h1>Pizza <%=count%></h1>
  <h2>Size:  <%= order[0][0] %></h2>
  <p></p>
  <h2>Crust:  <%= order[1][0] %></h2>
  <p></p>
  <h2>Sauce:  <%= order[2][0] %></h2>
  <p></p>
  <h2><u>Meats: </u></h2>
  <p></p>
  <%if order[3][0] == nil%>
    <h2>None</h2>
  <%else%>
      <%order[3][0].each do |meat|%>
          <% if meat == "pepperoni" %>
               <img src="pepperoni.jpg" style="width:100px;height:100px;">
              <% elsif meat == "sausage" %>
               <img src="sausage.jpg" style="width:100px;height:100px;">
              <% elsif meat == "ham" %>
               <img src="ham.jpg" style="width:100px;height:100px;">
              <% elsif meat == "chicken" %>
               <img src="chicken.jpg" style="width:100px;height:100px;">
          <% end %>
      <% end %>
  <% end %>
  <br>
  <br>
  <h2><u>Toppings: </u></h2>
  <p></p>
  <%if order[4][0] == nil%>
    <h2>None</h2>
  <%else%>
      <%order[4][0].each do |topping|%>
      <% if topping == "peppers" %>
            <img src="peppers.jpg" style="width:100px;height:100px;">
          <% elsif topping == "onions" %>
            <img src="onion.jpg" style="width:100px;height:100px;">
          <% elsif topping == "olives" %>
            <img src="olives.jpg" style="width:100px;height:100px;">
          <% elsif topping == "mushrooms" %>
            <img src="mushrooms.jpeg" style="width:100px;height:100px;">
          <% elsif topping == "cheese" %>
            <img src="cheese.jpeg" style="width:100px;height:100px;">
      <% end %>
      <% end %>
  <% end %>
  <%count += 1%>
  <br>
  <br>
  <h3>_________________________________________</h3>
<% end %>
</div>
<br>
<form class="" action="another" method="post">
  <input type="submit" value="Order Another Pizza">
</form>

<form class="" action="delivery" method="get">
  <input type="submit" name="" value="Complete Your Order">
</form>
