<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<img src="/TPS-Sign-2000x450.png" width="1300" height="250" alt="">
		<ul>
		  <li><a class="active" href="#home">Home</a></li>
		  <li><a href="#news">News</a></li>
		  <li><a href="#contact">Contact</a></li>
		  <li><a href="#about">About</a></li>
		</ul>
		<%= yield %>
	</body>
</html>
