<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body>
		<img src="/TPS-Sign-2000x450.png" style="width:100%;height:auto;" height="250" alt="">
		<ul>
		  <li><a class="active" href="/">Home</a></li>
		  <li><a href="news">News</a></li>
		  <li><a href="contact">Contact</a></li>
		  <li><a href="about">About</a></li>
		</ul>
		<%= yield %>
	</body>
</html>
