<form class="" action="toppings" method="post" autocomplete="off">
  <br>
    <h1>Select the meats for your pizza</h1>
    <h2>The first meat is free...additional meats are $2.00 each.</h2>
  <br>

  <div class="grid-container">
    <div class="item1">
    <input type="checkbox" name="meats[]" value="pepperoni" id="pepperoni"><label for="pepperoni"><br><img src="pepperoni.jpg" style="width:100px;height:100px;"><br>Pepperoni</label>
    </div>
    <div class="item2" id="blank">
    </div>
    <div class="item3">
    <input type="checkbox" name="meats[]" value="sausage" id="sausage"><label for="sausage"><br><img src="sausage.jpg" style="width:100px;height:100px;"><br>Sausage</label>
    </div>
    <div class="item4">
    <input type="checkbox" name="meats[]" value="ham" id="ham"><label for="ham"><br><img src="ham.jpg" style="width:100px;height:100px;"><br>Ham</label>
    </div>
    <div class="item5" id="blank">
    </div>
    <div class="item6">
    <input type="checkbox" name="meats[]" value="chicken" id="chicken"><label for="chicken"><br><img src="chicken.jpg" style="width:100px;height:100px;"><br>Chicken</label>
    </div>
  </div>

		<input type="submit" value="Continue">
</form>
