<form class="" action="toppings" method="post">

    <h2>Select the meats for your pizza</h2>
    <h3>The first meat is free...additional meats are $2.00 each.</h3>
  <br>

  <div>
    <input type="checkbox" name="meats[]" value="pepperoni" id="pepperoni"> <label for="pepperoni"><img src="pepperoni.jpg" style="width:100px;height:100px;">  Pepperoni</label>
    <br>
    <br>
    <input type="checkbox" name="meats[]" value="sausage" id="sausage"> <label for="sausage"><img src="sausage.jpg" style="width:100px;height:100px;">  Sausage</label>
    <br>
    <br>
    <input type="checkbox" name="meats[]" value="ham" id="ham"> <label for="ham"><img src="ham.jpg" style="width:100px;height:100px;">  Ham</label>
    <br>
    <br>
    <input type="checkbox" name="meats[]" value="chicken" id="chicken"> <label for="chicken"><img src="chicken.jpg" style="width:100px;height:100px;">  Chicken</label>
    <br>
    <br>
    <input type="checkbox" name="meats[]" value="none">   NONE <br>
    <input type="reset" name="meats[]" value="Reset"> <br>
  </div>


  </div>

		<input type="submit" value="Continue">
</form>
