<br>
<h1>Meat confirmation below</h1>


<form action="toppings_conf" method="post">
  <%session[:meats][0].each do |meat|%>
  <h2><%= meat %></h2> <input type="radio" name="<%= meat %>" value="<%= meat %>" checked="checked"> Yes
  <input type="radio" name="<%= meat %>" value="none"> No
<%end%>
<br>
<input type="submit" value="Confirm Meats">
</form>
<br>
