<form class="" action="toppings" method="post" autocomplete="off">
  <br>
    <h1>Select the meats for your pizza</h1>
    <h2>The first meat is free...additional meats are $2.00 each.</h2>
  <br>

  <div class="cheese">
    <input type="checkbox" name="meats[]" value="pepperoni" id="pepperoni"><label for="pepperoni"><img src="pepperoni.jpg" style="width:100px;height:100px;"><br>Pepperoni<br></label><br>

    <input type="checkbox" name="meats[]" value="sausage" id="sausage"><label for="sausage"><img src="sausage.jpg" style="width:100px;height:100px;"><br>Sausage<br></label><br>

    <input type="checkbox" name="meats[]" value="ham" id="ham"><label for="ham"><img src="ham.jpg" style="width:100px;height:100px;"><br>Ham<br></label><br>

    <input type="checkbox" name="meats[]" value="chicken" id="chicken"><label for="chicken"><img src="chicken.jpg" style="width:100px;height:100px;"><br>Chicken<br></label><br>

  </div>

		<input type="submit" value="Continue">
</form>
