

<form class="" action="meats" method="post">
  <br>
    <h1>Select a sauce</h1>
  <div class="box">
      <input type="radio" name="sauce" value="tomato" required id="sauce"><label for="sauce"> Tomato Sauce </label><br>
      <input type="radio" name="sauce" value="pesto" required id="pesto"><label for="pesto"> Pesto Sauce</label><br>
      <input type="radio" name="sauce" value="spicy" required id="spicy"><label for="spicy"> Spicy Sauce</label><br>
      <input type="radio" name="sauce" value="bbq" required id="bbq"><label for="bbq"> BBQ Sauce</label><br>
  </div>

	<input type="submit" value="Continue">
</form>

<!-- <form class="" action="toppings" method="post">
  <input type="submit" value="Click for No Meat">
  <input type="hidden" name="meats[]" value="none">
</form> -->
