<!-- <h1>Your Pizza so far...</h1>

<%= session[:size] %>
<br>
<%= session[:crust] %>

<br> -->

<form class="" action="meats" method="post">
  <br>
    <h2>Select a sauce</h2>
  <div>
      <input type="radio" name="sauce" value="tomato" required> Regular Red Sauce <br>
      <input type="radio" name="sauce" value="pesto" required> Pesto <br>
      <input type="radio" name="sauce" value="spicy" required> Spicy <br>
      <input type="radio" name="sauce" value="bbq" required> BBQ Sauce
  </div>

	<input type="submit" value="Continue">
</form>

<!-- <form class="" action="toppings" method="post">
  <input type="submit" value="Click for No Meat">
  <input type="hidden" name="meats[]" value="none">
</form> -->
