<h1>Your Pizza so far...</h1>

<%= session[:size] %>
<br>
<%= session[:crust] %>

<br>


<h1>Pick your sauce and meats below</h1>

<form class="" action="toppings" method="post">

    <h3>Select a Crust Type</h3>
      <input type="radio" name="sauce" value="tomato"> Regular Red Sauce <br>
      <input type="radio" name="sauce" value="pesto"> Pesto <br>
      <input type="radio" name="sauce" value="spicy"> Spicy <br>
      <input type="radio" name="sauce" value="bbq"> BBQ Sauce <br>

    <br>
    <h3>Select the size of your pizza</h3>
    <h3>The first meat is free...additional meats are $2.00 each.</h3>
      <input type="checkbox" name="meats[]" value="pepperoni"> Pepperoni <br>
      <input type="checkbox" name="meats[]" value="sausage"> Sausage <br>
      <input type="checkbox" name="meats[]" value="ham"> Ham <br>
      <input type="checkbox" name="meats[]" value="chicken"> Chicken <br>
      <input type="checkbox" name="meats[]" value="none"> No Meat <br>

		<input type="submit" value="YES!">
</form>
