

<form class="" action="meats" method="post">
  <br>
    <h1>Select a sauce</h1>
  <div class="box">
      <input type="radio" name="sauce" value="tomato" required> Tomato Sauce <br>
      <input type="radio" name="sauce" value="pesto" required> Pesto Sauce<br>
      <input type="radio" name="sauce" value="spicy" required> Spicy Sauce<br>
      <input type="radio" name="sauce" value="bbq" required> BBQ Sauce<br>
  </div>

	<input type="submit" value="Continue">
</form>

<!-- <form class="" action="toppings" method="post">
  <input type="submit" value="Click for No Meat">
  <input type="hidden" name="meats[]" value="none">
</form> -->
