


<h2>Select the size of your pizza</h2>

<form class="" action="crust" method="post">
    <div>
      <input type="radio" name="size" value="small" required> Small <br>
      <input type="radio" name="size" value="medium" required> Medium <br>
      <input type="radio" name="size" value="large" required> Large <br>
    </div>

    <br>
    <input type="submit" value="Continue">

</form>
