


<h1>Pick your size and crust type below</h1>

<form class="" action="sauce_meats" method="post">

    <h3>Select a Crust Type</h3>
      <input type="radio" name="crust" value="regular"> Regular <br>
      <input type="radio" name="crust" value="thin"> Thin <br>
      <input type="radio" name="crust" value="thick"> Thick <br>

    <br>
    <h3>Select the size of your pizza</h3>
      <input type="radio" name="size" value="small"> Small <br>
      <input type="radio" name="size" value="medium"> Medium <br>
      <input type="radio" name="size" value="large"> Large <br>




    <input type="submit" value="YES!">

</form>
