
<!--
<h1>Your Pizza so far...</h1>

<%= session[:size] %>
<br>
<%= session[:crust] %>
<br>
<%= session[:sauce] %>
<br>
<%= session[:meats] %>
<br>

<h1>Pick your toppings below</h1> -->

  <br>
  <h2>Select the toppings for your pizza</h2>
  <form class="" action="index" method="post">
    	<input type="submit" value="Click For No Toppings">
  </form>
  <br>
  <form class="" action="index" method="post">
    <div>
      <input type="checkbox" name="toppings[]" value="peppers" id="peppers"> <label for="peppers"><img src="peppers.jpg" style="width:100px;height:100px;"> Peppers</label>
      <br>
      <br>
      <input type="checkbox" name="toppings[]" value="onions" id="onions"> <label for="onions"><img src="onion.jpg" style="width:100px;height:100px;"> Onions</label>
      <br>
      <br>
      <input type="checkbox" name="toppings[]" value="olives" id="olives"> <label for="olives"><img src="olives.jpg" style="width:100px;height:100px;"> Olives</label>
      <br>
      <br>
      <input type="checkbox" name="toppings[]" value="mushrooms" id="mushrooms"> <label for="mushrooms"><img src="mushrooms.jpeg" style="width:100px;height:100px;"> Mushrooms</label>
      <br>
      <br>
      <input type="checkbox" name="toppings[]" value="cheese" id="cheese"> <label for="cheese"><img src="cheese.jpeg" style="width:100px;height:100px;"> Cheese</label>
      <br>
    </div>

		<input type="submit" value="Submit Toppings">
  </form>
