
  <br>
  <h1>Select the toppings for your pizza</h1>
  <h2>The first topping is free...additional toppings are $1.00 each.</h2>
  <form class="" action="meats_conf" method="post">
    	<input type="submit" value="Click For No Toppings">
  </form>
  <br>
  <form class="" action="meats_conf" method="post">
    <div class="grid-container">

      <div class="item1">
        <input type="checkbox" name="toppings[]" value="peppers" id="peppers"><label for="peppers"><br><img src="peppers.jpg"><br>Peppers</label>
      </div>
      <div class="item2">
      </div>
      <div class="item3">
        <input type="checkbox" name="toppings[]" value="onions" id="onions"><label for="onions"><br><img src="onion.jpg"><br>Onions</label>
      </div>
      <div class="item4">
      </div>
      <div class="item5">
        <input type="checkbox" name="toppings[]" value="cheese" id="cheese"><label for="cheese"><br><img src="cheese.jpeg"><br>Cheese</label>
      </div>
      <div class="item6">
      </div>
      <div class="item7">
        <input type="checkbox" name="toppings[]" value="olives" id="olives"><label for="olives"><br><img src="olives.jpg"><br>Olives</label>
      </div>
      <div class="item8">
      </div>
      <div class="item9">
        <input type="checkbox" name="toppings[]" value="mushrooms" id="mushrooms"><label for="mushrooms"><br><img src="mushrooms.jpeg"><br>Mushrooms</label>
      </div>
    </div>

		<input type="submit" value="Submit Toppings">
  </form>
