
  <br>
  <h1>Select the toppings for your pizza</h1>
  <h2>The first topping is free...additional toppings are $1.00 each.</h2>
  <form class="" action="meats_conf" method="post">
    	<input type="submit" value="Click For No Toppings">
  </form>
  <br>
  <form class="" action="meats_conf" method="post">
    <div class="grid-container">

      <div class="item1">
        <input type="checkbox" name="toppings[]" value="peppers" id="peppers"><label for="peppers"><img src="peppers.jpg" style="width:100px;height:100px;"><br>Peppers</label>
      </div>
      <div class="item2">
      </div>
      <div class="item3">
        <input type="checkbox" name="toppings[]" value="onions" id="onions"><label for="onions"><img src="onion.jpg" style="width:100px;height:100px;"><br>Onions</label>
      </div>
      <div class="item4">
      </div>
      <div class="item5">
        <input type="checkbox" name="toppings[]" value="cheese" id="cheese"><label for="cheese"><img src="cheese.jpeg" style="width:100px;height:100px;"><br>Cheese</label>
      </div>
      <div class="item6">
      </div>
      <div class="item7">
        <input type="checkbox" name="toppings[]" value="olives" id="olives"><label for="olives"><img src="olives.jpg" style="width:100px;height:100px;"><br>Olives</label>
      </div>
      <div class="item8">
      </div>
      <div class="item9">
        <input type="checkbox" name="toppings[]" value="mushrooms" id="mushrooms"><label for="mushrooms"><img src="mushrooms.jpeg" style="width:100px;height:100px;"><br>Mushrooms</label>
      </div>
    </div>

		<input type="submit" value="Submit Toppings">
  </form>
