
<!-- <body background="some_picture.jpg"> -->

	<h1>Welcome to Gooden's Pizza Shack!</h1>

	<h2>Would you like to order a Pizza?</h2>

	<form action="size_crust" method="post">
		<input type="submit" value="YES!">
	</form>


<!-- </body> -->
