img.resize {
  max-width:100%;
  max-height:90%;
}

body {
  background-color: red;
  font-family: "Helvetica", Arial, sans-serif;
  padding: 3%;
  text-align: center;
  color: #333;
  font-size: 3vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 4vw;
  font-weight: bold;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: serif;
  font-size: 5vw;
  font-weight: bold;
  color: white;
      text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


h1 {
  text-align: center;
  margin-top: 100px;
  font-family: s
  erif;
  font-size: 8vw;
  font-weight: bold;
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

input[type="submit"] {
  display: inline-block;
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border: none;
  margin-top: 5%;
}
a:hover,
a:focus,
a:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: black;
}

input[type="text"],
textarea {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 2vw;
}


p + div {
  margin-top: 50px;
  text-align: center;
  background-color: transparent;
  border-bottom: none;
}

div {
  /* text-align: center; */
  text-align: justify;
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border-right: solid 5px #ddd;
  border-bottom: solid 5px #ddd;
  margin-bottom: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #4CAF50;
}


div2 .columns{
  margin-top: 50px;
  text-align: left;
  font-size: 2vw;
  color: black;
  background-color: transparent;
  border-bottom: none;
  column-count: 3;
}
