/* img.resize {
  max-width:100%;
  max-height:90%;
} */

body {
  background-color: red;
  font-family: "Helvetica", Ari
  al, sans-serif;
  /* font-family: 'Jacques Francois';font-size: 22px; */
  padding: 1%;
  text-align: center;
  color: #333;
  font-size: 3vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  /* font-family: 'Jacques Francois'; */
  font-family: serif;
  font-size: 2vw;
  font-weight: bold;
  color: green;
      text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: serif;
  /* font-family: 'Jacques Francois'; */
  font-size: 3vw;
  font-weight: bold;
  color: black;
      /* text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff; */
}


h1 {
  text-align: center;
  margin-top: 3%;
  font-family: serif;
  /* font-family: 'Jacques Francois'; */
  font-size: 7svw;
  font-weight: bold;
  color: black;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

input[type="submit"] {
  display: inline-block;
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border: none;
  margin-top: 5%;
}
a:hover,
a:focus,
a:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: black;
}

input[type="text"],
textarea {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 2vw;
}

div.box{
  /* text-align: center; */
  text-align: left;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 4%;
  border-radius: 5px;
  border-right: solid 5px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  border-left: solid 5px black;
  margin-bottom: 2%;
  float: center;
  width: 50%;
}

div.center {
  /* text-align: center; */
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 4%;
  border-radius: 5px;
  border-right: solid 5px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  border-left: solid 5px black;
  margin-bottom: 2%;
  float: center;
  width: 50%;
}


div.cheese {
  /* text-align: center; */

  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 7%;
  border-radius: 5px;
  border-right: solid 5px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  border-left: solid 5px black;
  margin-bottom: 2%;
  float: center;
  width: 80%;
  column-count: 2;


}

img {
  border-radius: 2px;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #4CAF50;
}


.columns {
  margin-top: 50px;
  text-align: left;
  font-size: 2vw;
  color: black;
  background-color: transparent;
  border-bottom: none;
  column-count: 2;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: green;
  padding: 10px;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}
.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-radius: 25px;

}
/* .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
} */
